body {
  background-image: url("img/background.png");
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Share Tech Mono', monospace;
  /* background-size: auto;
  background-repeat: repeat;
  background-position: center;
  margin: auto auto;
  width: 80%; */
}

header {
  font-family: 'Coda Caption', sans-serif;
  color: #E0DBD7;
  height: 100vh;
  text-transform:uppercase;
}

blockquote {
  font-family: 'Share Tech Mono', monospace;
  font-size: 22px;
  text-transform: none;
  margin-top: 0px;
}

.h {
  display: flex;
  flex-direction: column ;
  align-items: center;
}

h1 {
  margin-bottom: 0px;
  font-size: 120px;
  text-shadow: #551755 20px 15px 20px;
  color: #E0DBD7;
}

footer {
  background-color: #E0DBD7;
  width: 100%;
}

footer p {
padding: 20px;
text-align: center;
}

#intro, #facts, #jokes {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 20px;
  text-align: center;
  font-size: 35px;
}

#intro h2, #facts h2, #jokes h2 {
  text-decoration: underline;
}

#intro, #facts {
  background-color: #E0DBD7;
  padding: 30px;
  border-top: 15px solid #551755;
  border-bottom: 15px solid #551755;
}

#intro p {
  font-size: 20px;
  text-align: left;
}

#intro img {
  width: 25vw;
  height: 100%;
  border-radius: 10%;
  margin-right: 50px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10pxs;
}

#intro section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#facts p{
  font-size: 24px;
  text-align: left;
}

#facts a:link {
  color: #FFA605;
}

#facts a:visited {
  color: #1B505F;
}

#facts ol {
  font-size: 20px;
  text-align: left;
}

#jokes h2 {
  text-decoration: underline;
  color: #E0DBD7;
}

#jokep {
  color: #E0DBD7;
}

.child {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 300px;
  height: 400px;
  margin: 15px;
  opacity: 80%;
  background-color: #9B590D;
  align-items: left;
  justify-content: center;
  font-size: 24px;
  color: #191819;
}

.child img {
  width: 150px;
  height: 150px;
  /* text-align: left; */
}

.child p {
  display: flex;
  color: #191819;
  flex-direction: flex-end;

}

#jokes div {
  display: flex;
  flex-wrap: wrap;
  /* text-align: left; */
  align-items: center;
  justify-content: center ;
  padding: 20px

}

span {
  font-size: 28px;
  color: #E0DBD7;

}

hr {
  width: 60%;
  /* margin: 0; */
}

.hide {
  display: none;
}

.invisible:hover + .hide{
  color: #191819;
  display: inline;
}

